{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - '/summary'
}}

<div>
	{{#with main}}
 		<main>
  			<section class='col-12'>
				<div class='row'>
					<section class='col-6'>
						<div class='card'>
							<div class='card-body'>
								<h5 class='card-title text-center pb-2 mt-3 mb-3'>
									{{> title data='All skills' big=true}}
								</h5>
								<ul>
									{{#each skills}}
										<li class='text fw-medium pb-2'>
											{{name}}

											{{#if point includeZero=true}} ({{point}}) {{/if}}
											{{#if isTop}} (TOP) {{/if}}

											{{#unless point includeZero=true}} (не вивчаємо) {{/unless}}

											{{#unless point}}
												{{#if point includeZero=true}}
													(зараз вивчаємо)
												{{/if}}
											{{/unless}}
										</li>
									{{/each}}
								</ul>
							</div>
						</div>		
    				</section>
					<section class='col-6'>
						<div class='card'>
							<div class='card-body py-3'>
								<h5 class='card-title text-center pb-2 mt-3 mb-3'>
									{{> title data='My hobbies'}}
								</h5>	
								<ul>
									{{#each hobbies}}
										<ol class='text fw-medium pb-2'>
											{{name}}
											{{#if isMain}} (favourite) {{/if}}
										</ol>
									{{/each}}
								</ul>
							</div>	
						</div>	
					</section>
				</div>
			</section>
  		</main>
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}